.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px 50px;
  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* Nav */
      1fr /* Content */
      auto /* Sidebar */
      auto; /* Footer */
    grid-gap: 10px;
  }

  nav, aside {
    margin: 0;
  }
}

a {
	word-wrap: break-word;
}

